In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import utils as utl

In [4]:
df = pd.read_csv('World-population-growth-rate-by-cities-2024.csv')

In [5]:
europe_data = df[(df['Continent'] == 'Europe')]

In [6]:
continents_list = pd.Series(df['Continent'].unique())

In [7]:
continents_list = continents_list.dropna().tolist()

In [8]:
print(continents_list)

['Asia', 'South America', 'Africa', 'North America', 'Europe', 'Oceana', 'Oceania']

In [9]:
df_continent = {
    continent: df[df["Continent"] == continent] for continent in continents_list
}

In [10]:
df_continent['Africa']

,City,Country,Continent,Population (2024),Population (2023),Growth Rate
5,Cairo,Egypt,Africa,22623874,22183201,0.0199
12,Kinshasa,DR Congo,Africa,17032322,16315534,0.0439
13,Lagos,Nigeria,Africa,16536018,15945912,0.0370
36,Luanda,Angola,Africa,9651032,9292336,0.0386
47,Dar Es Salaam,Tanzania,Africa,8161231,7775865,0.0496
...,...,...,...,...,...,...
758,Zaria,Nigeria,Africa,786197,766007,0.0264
763,Goma,DR Congo,Africa,781875,744247,0.0506
772,Akure,Nigeria,Africa,773141,744371,0.0387
787,Tamale,Ghana,Africa,757506,729768,0.0380
798,Huambo,Angola,Africa,751297,727641,0.0325

In [11]:
utl.create_csv_continents(df_continent, 'population-growth-rate-by-cities')

In [12]:
df_continent_2024_sorted = {
    continent: df[df["Continent"] == continent][
        [
            "Continent",
            "City",
            "Country",
            "Population (2024)",
        ]
    ].sort_values(
        by="Population (2024)",
        ascending=False,
    )
    for continent in continents_list
}

In [13]:
df_continent_2024_sorted['Africa']

    Continent           City   Country  Population (2024)
5      Africa          Cairo     Egypt           22623874
12     Africa       Kinshasa  DR Congo           17032322
13     Africa          Lagos   Nigeria           16536018
36     Africa         Luanda    Angola            9651032
47     Africa  Dar Es Salaam  Tanzania            8161231
..        ...            ...       ...                ...
758    Africa          Zaria   Nigeria             786197
763    Africa           Goma  DR Congo             781875
772    Africa          Akure   Nigeria             773141
787    Africa         Tamale     Ghana             757506
798    Africa         Huambo    Angola             751297

[106 rows x 4 columns]

In [14]:
utl.create_csv_continents(df_continent_2024_sorted, 'population-growth-rate-by-cities-2024-sorted')

In [15]:
df_continent_2023_sorted = {
    continent: df[df["Continent"] == continent][
        [
            "Continent",
            "City",
            "Country",
            "Population (2023)",
        ]
    ].sort_values(
        by="Population (2023)",
        ascending=False,
    )
    for continent in continents_list
}

In [16]:
utl.create_csv_continents(df_continent_2023_sorted, 'population-growth-rate-by-cities-2023-sorted')